#contact-info {
    font-size: .8em
}

.job {
    background-color: #e9e5dc;
    padding: 15px;
    margin-top: 10px;
    border-radius: 15px;
}
/*Answered Prompt 2.2 by including multiple colors in /smaller-text to cascade through*/
.smaller-text {
    font-size: .8em;
    color: blueviolet;
    color: greenyellow;
}